<h1>Hello CIS 486!</h1>

<p1>My name is Janna Parker and i am a type 2! I will put others needs before my own...</p1>
<p2>This could make as a good and bad trait for working in a group.</p2>

<p><%= myResultClient.length %></p>


    <li>Hi! I am  <%= myResultClient[0].userName %> </li>


<li> I be <%= myTypeClient %>, good at mullet, bad at stop talking.</p>



<Footer>

    <a href="https://github.com/jparker13/legendary-winner-NOVEMBER/" target=""_blank>Source Code</a>
</Footer>